<p>
 Amsterdam Science Park Study Group is dedicated to building a community of computational biologists and bioinformaticians. This Study Group promotes skill sharing and collaboration by (1) organizing one-hour interactive workshops, (2) regularly organise co-working sessions for peer-to-peer assistance, (3) act as local hub to set-up Software and Data Carpentry workshops and, last but not least (4) bring researchers together at social events like Hacky Hours hackatons. All are welcome to this study group, regardless of scientific research area, affiliation or training level.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    see our website: 
    "<a href="https://www.scienceparkstudygroup.info">scienceparkstudygroup</a>".
  </em>
</p>
<p>
<br>
<br>
<br>
</p>




