<!--
Ecology workshop
-->
<div class="row">
  <div class="col-md-4">
    <h3>Day 1 Nov 20</h3>
    <table class="table table-striped">
      <tr>
	<td>Morning<br>(9:30-11:00)</td> 
	<td> Data Organization in Spreadsheets<br>part 1</td></tr>
     <tr>
        <td> Coffee  </td>
        <td>  </td>
      </tr>
      <tr>
	<td>Morning<br>(11:15-12:45)</td> 
	<td> Data Organization in Spreadsheets<br>part 2</td>
      </tr>
      <tr>
        <td><br></td>
        <td><br></td>
      </tr>
      <tr>
        <td><br><br></td>
        <td>  </td>
      </tr>
      <tr>
        <td><br></td>
        <td> </td>
      </tr>
      <tr>
        <td><br><br></td>
        <td> </td>
        </tr>


    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2 Nov 21</h3>
    <table class="table table-striped">
      <tr>
	<td> Morning<br>(9:30-11:00)</td>
	<td> R session 1<br>Introduction </td>
      </tr>
      <tr>
        <td> Coffee </td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:15-12:45)</td>
        <td> R session 2<br>Visualization with ggplot2</td>
      </tr>
      <tr>
        <td> Lunch  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:45-15:15)</td>
        <td> R session 3<br>Data transformation w dplyr</td>
      </tr>
      <tr>
        <td> Tea  </td>
        <td>  </td>
      </tr>
      <tr>
	<td>Afternoon<br>(15:30-17:00)</td>
	<td> R session 4<br>Data tidying with tidr</td>
      </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3 Nov 22</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:30-11:00)</td>
        <td> R session 5<br>Programming with R</td>
      </tr>  
      <tr>
        <td> Coffee</td>
        <td>  </td> 
      </tr>
      <tr>
        <td> Morning<br>(11:15-12:45)</td>
        <td>Version Control with Git</td> 
      </tr>
      <tr>
        <td> Lunch </td>
        <td>  </td>
      </tr>
      <tr> 
        <td>Afternoon<br>(13:45-15:15)</td>
        <td>Collaborating with Github</td>
      </tr>
      <tr>
        <td> Tea </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> guest speaker </td>
      </tr>
    </table>
  </div>
</div>


<!--
<div class="row">
  <div class="col-md-4">
    <h3>Day 1 Oct 29</h3>
    <table class="table table-striped">
      <tr>
        <td><br><br></td>
        <td><br></td>
      </tr>
      <tr>
        <td><br></td>
        <td>  </td>
      </tr>
      <tr>
        <td>Before start<br><br></td>
        <td> <a href=" {{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td><br></td>
        <td> </td>
        </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
        <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets<br>part 1</a></td></tr>
     <tr>
        <td> Tea  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets<br>part 2</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2 Oct 30</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:00-10:30)</td>
        <td> R session 1 </td>
      </tr>
      <tr>
        <td> Coffee </td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:00-12:30)</td>
        <td> R session 2 </td>
      </tr>
      <tr>
        <td> Lunch  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
       <td> R session 3</td>
      </tr>
      <tr>
        <td> Tea  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> R session 4 </td>
      </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3 Oct 31</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:00-10:30)</td>
        <td> R session 5 </td>
      </tr>
      <tr>
        <td> Coffee</td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:00-12:30)</td>
        <td> R session 6 </td>
      </tr>
      <tr>
        <td> Lunch </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
        <td>Version Control with Git</td>
      </tr>
      <tr>
        <td> Tea </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> guest speaker </td>
      </tr>
    </table>
  </div>
</div>
-->
